spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true


jwt:
  expiration-minutes: 1000

nginx:
  require-proxy: false

chirp:
  rate-limit:
    ip:
      apply-limit: true
